.input {
    border: 2px none #ccc;
    padding: 8px;
    width: 100%;
    font-size: large;
    transition: border-color 0.3s;
    margin-bottom: 10px;
    background-color: #eeeeee;
  }
  
  .inputActive {
    color: blue;
    border: 2px solid blue;
  }
  
  .label {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 10px;
    color: #666;
    transition: top 0.3s, font-size 0.3s, color 0.3s;
  }
  
  .label:focus {
    top: -20px;
    font-size: 12px;
    color: blue;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px,-16px) scale(0.88);
    z-index: 1111;  
  }
  
  .toggleButton {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
  }

 
  